@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    scroll-behavior: smooth;
  }

  h1 {
    font-family: var(--font-parisienne);
  }

  h2,
  h3,
  h4 {
    font-family: var(--font-playfair-display);
  
  }

  h2,h4 {
    color: #C1A482;
  }


  p,
  span,
  
  body {
    font-family: var(--font-montserrat);
  }
}

